node_modules
.next
dist
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.env.local
.env.development
.env.production
.env.test
.DS_Store
coverage
*.log
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool
.packages
.pub-cache
.pub
build/
