PORT=4000
POS_API_KEY_HASH=0e5e3402f3c62363234430e2818dbc8414e6c23dacc21449591d0696d5e10326
SUPABASE_URL=https://qzcirkpxoapsnmmpmmla.supabase.co
SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6Y2lya3B4b2Fwc25tbXBtbWxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMzc2NDQsImV4cCI6MjEwMzkxMzY0NH0.j4zgY0AqoP37NyFToCi4fG8TK6DWnCH5yJ_wNzGhHm8
